
html
  height 100%

body
  margin 0
  padding 0
  height 100%
  font-family 'Roboto', sans-serif

  #root
    height 100%
    background-color #444

    > div
      perspective none !important

.outer-element {
   vertical-align: middle;
   text-align: center;
   margin: -10px;
}

.inner-element {
   width: 100%
   display:inline-block;
}

.liveImage {
  width: 90%;
  max-width: 700px;
  transform: rotate(270deg)
}

.motionGroup {
  display: static
  width: 100%
}

.motionGroup > div {
   display:flex;
   // border:solid 1px;
   text-align: center
}

header {
   background-color: #999;
   disply:none;
}

div .AppBar {
   background-color: #666;
   color: #FFF;
}

div .recording {
   background-color: #800000;
}
